<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecturer Dashboard</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">KAB00M!</div>
      <div class="nav-items">
        <a href="/">Home</a> <a href="/">About</a> <a href="/">log out</a>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-container">
        <div class="column-left">
          <h1>Welcome!</h1>
          <p>
             As an lecturer you can create quizzes for your students now with KAB00M!
          </p>
          <button>CREATE QUIZ</button>
        </div>
        <div class="column-right">
          <h1>Welcome to Dashboard Lecturers</h1>
          <img
            src="./bomb.svg"
            alt="illustration
        "
            class="hero-image"
          />
        </div>
      </div>
    </section>
  </body>
</html>